.App {
  background-color: #b9b9b9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
textarea {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  outline: none;
  border: 1px solid #613bdb;
  border-radius: 10px;
  background: #c1c9df;
}

button {
  height: 45px;
  width: 155px;
  color: #fff;
  background: #613bdb;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  margin-top: 8px;
  cursor: pointer;
}
.img-test {
  width: 40px;
  height: 40px;
}
.disp_column{
  display: flex;
  flex-direction: column;
}
.back_home{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: 600;
}